{% extends 'main/include/base.html' %}
{% load static %}

<!-- ================================
  Start SEO block
================================ -->
{% block title %}Resume App - Home{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
  End SEO block
================================ -->
{% block extend_header %} {% endblock %}



{% block extend_footer %} {% endblock %}


{% block content %}
<!-- ================================
Start Content
================================= -->
<section>
  <div class="innerPageBannerCol">
    
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">{{portfolios.name}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpaceSm">
    <div class="container">
      <p>
        {{portfolios.description}}
      </p>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
{% endblock %}