{% extends 'main/include/base.html' %}
{% load static %}

<!-- ================================
  Start SEO block
================================ -->
{% block title %}Resume App - Home{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
  End SEO block
================================ -->
{% block extend_header %} {% endblock %}



{% block extend_footer %} {% endblock %}


{% block content %}
<!-- ================================
Start Content
================================= -->
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">See my recent projects below</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container">
      <div class="portfolioCard">
        {% for portfolio in portfolios %}
          {% if portfolio.active %}
        <div class="row g-4 align-items-center">
          <div class="col-md-auto">
            <div class="portfolioImgCol">
              <a href="javascript:void(0)"><img src="{{ portfolio.image.url }}" alt="..."></a>
            </div>
          </div>
          <div class="col-md">
            <div class="portfolioContentCol">
              <h4 class="lgTitle"><a href="{% url 'portfolio-detail' portfolio.slug %}">{{portfolio.name}}</a></h4>
              <ul class="portfolioOption">
                <li><span class="dateLbl">{{portfolio.date.date }}</span></li>
              </ul>
              <p>{{portfolio.description }}</p>
            </div>
          </div>
        </div>
        {% else %}
          <div>
            <h1>no portfolio</h1>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->

{% endblock %}

